:root{
   /* Theme colors */
   --bg-main:hsl(230, 17%, 14%);
   --bg-pattern: hsl(232, 19%, 15%);
   --bg-card:hsl(228, 28%, 20%);
   --bg-card-hover: hsl(229, 20%, 31%);
   --text-1: hsl(228, 34%, 66%);
   --text-2: hsl(0, 0%, 100%);

   /* Followers */
   --new-followers: hsl(163, 72%, 41%);
   --lost-followers: hsl(356, 69%, 56%);

   /* Social */
   --facebook: hsl(208, 92%, 53%);
   --twitter:  hsl(203, 89%, 53%);
   --instagram-1: hsl(37, 97%, 70%);
   --instagram-2:  hsl(329, 70%, 58%);
   --youtube: hsl(348, 97%, 39%);
   
   /* Toggle */
   --toggle-light: hsl(230, 22%, 74%);
   --toggle-1:  hsl(146, 68%, 55%);
   --toggle-2: hsl(210, 78%, 56%);
}

html{
   background-color: var(--bg-main);
   box-sizing: border-box;
}

*{
   box-sizing: inherit;
}

html,
.social-card,
.views-card{
   transition: background-color 0.2s;
}

body{
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   font-family: Inter, sans-serif;
   font-size: 14px;
   padding: 1rem;
   transition: background-color 3s;
}

.main{
   width: 90%;
   max-width: 1300px;
}

.followers{
   margin-top: 1rem;
}

.followers__title,
.followers__total,
.switch{
   margin: 0;
   font-weight: 700;
}

.followers__title{
   font-size: 1.5rem;
   color: var(--text-2)
}

.followers__total,
.switch,
.overview{
   font-size: 1rem;
   color: var(--text-1);
}

.followers__total{
   padding-bottom: 1rem;
   padding-top: 0.2rem;
}

.followers__header{
   display: grid;
   grid-template-columns: 1fr;
   margin-bottom: 1.5rem;
}

@media screen and (min-width: 1000px) {
   .followers__header{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
}

.followers__total{
   grid-column: 1/2;
   border-bottom: 1px solid var(--text-1);
}

@media screen and (min-width:1000px) {
   .followers__total{
      border: none;
   }
}


/* DARK MODE TOGGLE */
.switch{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 20px;
   padding-top: 1.5rem;
   padding-bottom: 1rem;
}

.switch__checkbox{
   appearance: none;
   width: 70px;
   height: 30px;
   border-radius: 25px;
   background-color: var(--toggle-light);
   position: relative;
   display: grid;
   align-items: center;
   padding: 1rem;
   transition: background-color 0.3s;
   margin-left: 1rem;
}

.switch__checkbox::after{
   content:"";
   position: absolute;
   right: 5px;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background-color: var(--bg-card);
   transition: transform 0.2s, background-color 0.3s;
}

.switch__checkbox:checked{
   background-image: linear-gradient(to left, var(--toggle-1), var(--toggle-2));
}

.switch__checkbox:checked::after{
   transform: translateX(-35px); 
   background-color: hsl(230, 17%, 14%);
}

@media screen and (min-width: 1000px) {
   .switch{
      justify-content: flex-end;
      grid-row: 1/2;
      grid-column: 2 / 3;
   }

}

/* Social */

.followers__social{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

@media screen and (min-width:1000px) {
   .followers__social{
      align-items: space-evenly;
   }
}


.social-card{
   background-color: var(--bg-card);
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   font-weight: 700;
   padding-top: 1rem;
   padding-bottom: 1rem;
   border-radius: 0.3rem;
   width: 600px;
}

@media screen and (min-width: 732px){
   .social-card{
      width: 300px;
   }
}



@media screen and (min-width: 900px) {
   .social-card:hover{
      background-color: var(--bg-card-hover);
   }
}

.social-card__name{
   color: var(--text-1);
   display: flex;
   align-items: center;
}

.social-card__icon{
   background-repeat: no-repeat;
   background-size: contain;
   display: inline-block;
   width: 20px;
   height: 20px;
   padding-left: 1.5rem;
}


.social-card__icon--facebook{
   background-image: url(../assets/img/icon-facebook.svg);   
}

.social-card__icon--twitter{
   background-image: url(../assets/img/icon-twitter.svg);   
}

.social-card__icon--instagram{
   background-image: url(../assets/img/icon-instagram.svg);   
}

.social-card__icon--youtube{
   background-image: url(../assets/img/icon-youtube.svg);   
}

.social-card__number{
   font-size: 3.5rem;
   margin-top: 0.8rem;
   margin-bottom: 0;
   color: var(--text-2)
}

.social-card__text{
   color: var(--text-1);
   margin-top: 0;
   letter-spacing: 5px;
   font-weight: 500;
   font-size: 1.2rem;
   text-transform: uppercase;
}

.social-card__new-followers,
.views-card__new-views{
   color: var(--new-followers);
   position: relative;
   font-weight: 700;
}

.social-card__new-followers::before,
.social-card__new-followers--red::before,
.views-card__new-views::before,
.views-card__new-views--red::before{
   content: url('../assets/img/icon-up.svg');
   position: absolute;
   left: -12px;
   top: -2px;
}

.social-card__new-followers--red,
.views-card__new-views--red{
   color: var(--lost-followers)
}

.social-card__new-followers--red::before,
.views-card__new-views--red::before{
   content: url('../assets/img/icon-down.svg');
}

.social-card--facebook{
   border-top: 5px solid var(--facebook)
}

.social-card--twitter{
   border-top: 5px solid var(--twitter)
}

.social-card--instagram{
   margin-top: 5px;
   position: relative;
}
.social-card--instagram::after{
   content:"";
   position: absolute;
   top: -5px;
   width: 100%;
   height: 5px;
   background-image: linear-gradient(to left, var(--instagram-1), var(--instagram-2));
   border-top-left-radius: 0.3rem;
   border-top-right-radius: 0.3rem;
}


.social-card--youtube{
   border-top: 5px solid var(--youtube)
}

/* Overview */

.overview__views{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

@media screen and (min-width: 1000px) {
   
.overview__views{
   align-items: space-evenly;
}

}

.views-card{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   padding: 1rem 1.5rem;
   background-color: var(--bg-card);
   width: 600px;
}

@media screen and (min-width: 900px) {

   .views-card{
      width: 300px;
   }

   .views-card:hover{
      background-color: var(--bg-card-hover);
   }

}

.views-card__icon,
.views-card__new-views{
   justify-self: flex-end;
}

.views-card__views{
   font-size: 2rem;
   color: var(--text-2);
   font-weight: 700;
   line-height: 0;
}

.views-card__icon{
   width: 25px;
}

.footer{
   font-size: 0.8rem;
   text-align: center;
   color: var(--text-1);
   padding: 2rem;
   margin-top: auto;
   font-weight: 700;
 }
 
.footer__link{
   color: var(--text-2);
   text-decoration: none;
}